
.condicao-em-dia, .condicao-atrasada {
  font-weight: bold;
}

.condicao-em-dia {
  color: green;
}

.condicao-atrasada {
  color: red;
}

.btn-adicionar {
  position: absolute;
  right: 0;
  margin: 15px;
}

.tit-btn-adicionar:before {
  content: 'Adicionar';
}

#root {
  min-height: inherit;
}

.card-login {
  margin-top: 22%;
}

.login-background {
  background: url('../img/mineracao.jpg') no-repeat;
  min-height: inherit;
  background-size: cover;
}

.btns-modal {
  margin: 0px 135px;
}

.no-margin {
  margin: 0px;
}

.direita {
  text-align: right;
}

.separador {
  padding: 5px;
}

.alert-success {
  background-color: #699b18;
}

.tab-ativos {
  border: 1px solid transparent;
  border-color: #fff #fff #dee2e6 #fff;
}

.botao-tab {
  margin-top: 32px;
}

@media only screen and (max-width: 500px) {
  .tit-btn-adicionar:before {
    content: '+';
  }
}
